body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-family: Montserrat;
}
/***************Header styles***************/
.nav-main {
  padding: 0 50px;
}
#navbar {
  position: relative;
}
.first-nav {
  height: 34px;
  background: #1e1e1e;
}
.first-nav-li {
  padding-left: 17px;
}
.first-nav-link {
  opacity: 0.8;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.31;
  color: #ffffff;
  padding: 0;
}
.second-nav {
  height: 68px;
  background-color: #ffffff;
  padding-top: 17px;
}
.second-nav img {
  height: 51px;
  width: 194px;
}
.second-nav ul {
  padding-left: 80px;
}
.second-nav-link,
.second-nav-search {
  font-size: 14px;
  line-height: 2.14;
  color: #1d2329;
  padding: 7px 20px 7px 0 !important;
}
.second-nav-link:last-child {
  padding-right: 20px !important;
}
.second-nav-search {
  padding-right: 28.2px !important;
}
.arrow {
  display: inline-block;
  padding: 2px;
  border: solid #d0313f;
  border-width: 0 0.3px 0.3px 0;
  margin-left: 3px;
  margin-bottom: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow1 {
  opacity: 0.5;
  border: solid #000000;
  border-width: 0 0.3px 0.3px 0;
  margin-left: 8px;
}
.second-nav-li button {
  padding: 7px 20px 7px 20px;
  border-radius: 3px;
  background-color: #d0313f;
}
.nav-apply-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
}
.second-nav-link:hover {
  color: #000000;
}
.first-nav-link:hover,
.nav-apply-btn:hover {
  color: #ffffff;
}
.dropdown-menu {
  max-width: 100%;
  width: 100%;
  height: auto;
  /* height: 416px; */
  padding: 30px 31px 30px 1px;
  box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #dddddd;
  background-color: #ffffff;
  top: 110px;
  left: 0;
  right: 0;
}
.dropdown-menu.show {
  display: flex;
}
.overview-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #1d2329;
  padding-left: 45px;
  width: 30%;
}
.overview-list h4 {
  margin: 0;
  padding-bottom: 25px;
  font-size: 14px;
}
.overview-list a {
  padding: 0;
  padding-bottom: 9px;
}
.overview-list a.active {
  background-color: #f6f8f9;
  color: #d0313f;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f6f8f9;
  color: #d0313f;
}
.vr {
  width: 1px;
  height: auto;
  opacity: 0.25;
  border: solid 1px #979797;
  margin-left: 28px;
}
.overview-wrapper {
  display: flex;
  margin-left: 29px;
  width: 70%;
}
.overview-wrapper img {
  width: 232px;
  height: 315px;
}
.overview-wrapper p {
  font-size: 13px;
  line-height: 1.62;
  color: #6c7787;
  margin: 0;
  padding-bottom: 10px;
}
.overview-wrapper p:nth-child(2) {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  padding-bottom: 25px;
}
.overview-wrapper > div {
  margin-left: 32px;
}
.overview-tech {
  display: flex;
}
.overview-tech ul {
  padding: 0;
  list-style-type: none;
}
.overview-tech ul li a {
  text-decoration: none;
  opacity: 0.7;
  font-size: 13px;
  line-height: 2.31;
  color: #1d2329;
  padding-top: 17px;
}
.overview-tech ul:nth-child(2) li a {
  padding-left: 25px;
}
/***************End of Header styles*************/

/***************Start of Banner styles****************/
.banner-wrapper {
  padding: 80px 50px 0;
  overflow: hidden;
}
.mail-info {
  position: relative;
  padding-bottom: 70px;
}
.mail-info .mailid {
  transform: rotate(-90deg);
  opacity: 0.6;
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 1.8px;
  color: #000000;
  margin: 0;
  position: absolute;
  top: 80px;
  left: -80px;
}
.mail-info img {
  position: absolute;
  top: 210px;
}
.content {
  padding-left: 148px;
}
.content p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 1.04px;
  color: #6c7787;
  margin: 0;
  text-transform: uppercase;
}
.content p:last-child {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.42;
  color: #6c7787;
  /* padding-bottom: 70px; */
  text-transform: none;
}
.content p:last-child span {
  font-weight: 500;
  color: #000000;
}
hr {
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background-color: #d03a40;
  margin: 20px 0 30px 2px;
}
/* .owl-dots {
  transform: rotate(90deg);
}
.owl-theme .owl-dots .owl-dot span {
  background-color: #ffffff;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #d03a40;
} */
.carousel-main-wrapper {
  position: relative;
}
.carousel-main-wrapper .carousel-indicators {
  right: -90px;
  bottom: -15px;
  top: 0;
  left: initial;
  flex-direction: column;
}
.carousel-main-wrapper .carousel-indicators li {
  width: 10px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
}
.carousel-main-wrapper .carousel-indicators .active {
  background-color: #d03a40;
}
.carousel-inner-wrapper {
  display: flex;
  position: absolute;
  height: 164px;
  padding: 30px 20px;
  background-color: #7c3520;
  top: 75%;
  /* margin: 0 55px; */
}
.carousel-overview {
  display: flex;
}
.carousel-overview > div {
  padding-left: 20px;
}
.carousel-overview h5 {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 12px;
}
.carousel-overview p {
  opacity: 0.8;
  font-size: 13px;
  line-height: 1.31;
  color: #ffffff;
  margin-bottom: 9px;
}
.carousel-overview p:nth-child(1) {
  font-size: 14px;
  line-height: 1.36;
}
.MU-wrapper {
  display: flex;
  padding: 80px 0px 66px;
}
.MU-inner-wrapper {
  padding-right: 85px;
}
.MU-inner-wrapper h5 {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
  margin-bottom: 5px;
}
.MU-inner-wrapper h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
  width: 471px;
}
.MU-inner-wrapper h3 span {
  font-weight: 500;
}
.MU-inner-wrapper p {
  opacity: 0.9;
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
  margin: 0;
}
.facility {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}
.facility > div {
  padding-left: 20px;
}
.facility > div h4 {
  font-size: 17px;
  line-height: 1.29;
  color: #1d2329;
}
.facility > div p {
  line-height: 1.36;
  font-size: 14px;
}
.learn-more {
  padding-top: 13px;
  display: flex;
}
.learn-more p {
  color: #d0313f;
}
.learn-more p:nth-child(2) {
  padding-left: 25px;
}
.facility ul {
  padding: 23px 0 0;
  list-style-type: none;
}
.facility ul li a {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  text-decoration: none;
  padding-bottom: 13px;
}
.bitmap-images {
  display: flex;
}
.bitmap-images div:first-child {
  padding-top: 60px;
}
.bitmap-images div img {
  padding-bottom: 28px;
  padding-right: 25px;
}
.selection-wrapper {
  padding-bottom: 70px;
}
.selection-wrapper ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0 50px;
}
.selection-wrapper ul li {
  width: 164px;
  height: 106px;
  padding: 27px 28px 22px 27px;
  border-radius: 4px;
  /* box-shadow: 20px 20px 75px 0 rgba(0, 0, 0, 0.15); */
  background-color: #f6f8f9;
  color: #000000;
  margin-left: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.selection-wrapper ul li a {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.36;
  color: #000000;
  text-decoration: none;
}
.selection-wrapper ul li.active {
  background-color: #d0313f;
  color: #ffffff;
}
.selection-wrapper ul li.active a {
  color: #ffffff;
  opacity: 1;
}
.selection-wrapper ul li.active a .arrow1 {
  border: solid #ffffff;
  border-width: 0 0.3px 0.3px 0;
  opacity: 1;
}
.selection-wrapper ul li:hover {
  background-color: #d0313f;
  color: #ffffff;
  opacity: 1;
}
/***************End of Banner styles*************/

/***************Start of What's new styles*************/
.new-wrapper {
  padding: 0px 50px;
  overflow: hidden;
}
.new-wrapper > div {
  background-color: #f6f8f9;
  padding-top: 58px;
  padding-bottom: 60px;
}
.new-wrapper h4 {
  font-size: 36px;
  font-weight: 300;
  color: #1d2329;
  text-align: center;
}
.new-wrapper p {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #6c7787;
  width: 580px;
  margin: 0 auto;
}
.new-wrapper p strong {
  font-weight: 500;
}
.new-wrapper hr {
  margin: 20px auto 45px;
}
.new-wrapper-block {
  padding-bottom: 10px;
}
.block1-wrapper {
  border-radius: 4px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
  width: 540px;
  height: 309px;
  display: flex;
  margin-bottom: 30px;
}
.block1-wrapper.active,
.block.active {
  background-color: #ffffff;
}
.block {
  display: flex;
  width: 100%;
  margin-left: 20px;
  padding: 27px 20px;
}
.inner-block {
  padding-left: 30px;
  width: 270px;
}
.inner-block h4 {
  width: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.29;
  color: #000000;
  text-align: left;
  margin-bottom: 16px;
}
.inner-block p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.93;
  color: #6c7787;
  text-align: left;
}
.inner-block p:nth-of-type(2) {
  width: 244px;
  margin: 0;
}
.inner-block p:nth-of-type(3) {
  margin-top: 20px;
}
.block.active .inner-block p:nth-of-type(3) {
  color: #d0313f;
}
/***************End of What's new styles*************/

/***************Start of Research based styles*************/
.research-wrapper {
  padding: 0px 50px;
  overflow: hidden;
}
.research-wrapper > div {
  background-color: #2f3437;
  padding-top: 58px;
  padding-bottom: 66px;
}
.research-wrapper h4 {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.research-wrapper p {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  width: 580px;
  margin: 0 auto;
}
.research-wrapper h4 strong {
  font-weight: 500;
}
.research-wrapper hr {
  margin: 20px auto 45px;
  background-color: #ffffff;
}
.research-wrapper .carousel-control-next,
.research-wrapper .carousel-control-prev {
  background: #d0313f;
  width: 64px;
  height: 64px;
  margin: 0 32px;
  top: 50%;
}
.research-wrapper .carousel-item > div {
  width: 431px;
  height: 472px;
  margin: 0px 113px 64px;
  padding: 0 0 0 64px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f7f8fa;
  position: absolute;
}
.research-wrapper .carousel-item > div h4 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.4px;
  color: #1d2329;
  text-align: left;
  padding-top: 73px;
}
.research-wrapper .carousel-item > div p {
  width: 306px;
  height: 231px;
  margin: 13px 61px 31px 0;
  font-size: 15px;
  line-height: 1.4;
  color: #454b52;
  text-align: left;
}
.research-wrapper .carousel-item > div p:last-child {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  padding-bottom: 73px;
}
.research-wrapper .carousel-item img {
  width: 450px !important;
  height: 450px;
  float: right;
  margin-right: 121px;
}
.research-wrapper .carousel-indicators {
  bottom: -66px;
}
/***************End of Research based styles*************/

/***************Start of Success stories styles*************/
.success-wrapper {
  padding: 0px 50px;
  overflow: hidden;
  position: relative;
}
.success-wrapper > div {
  background-image: url("/images/rise.png");
  background-repeat: no-repeat;
  height: 1894px;
  padding: 85px;
  background-size: cover;
}
.success-inner {
  display: flex;
}
.success-inner h4 {
  width: 329px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #ffffff;
  padding-bottom: 18px;
}
.success-inner h4 strong {
  font-weight: 500;
}
.success-inner p {
  width: 498px;
  font-size: 15px;
  line-height: 1.4;
  color: #ffffff;
}
.success-inner hr {
  background-color: #ffffff;
}
.success-inner img {
  width: 445px;
  height: 400px;
}
.success-story {
  height: 369px;
  background-color: #ffffff;
  position: absolute;
  width: 590px;
  top: 330px;
  left: 210px;
  padding: 30px 0 0 66px;
}
.success-story p {
  font-size: 20px;
  line-height: 1.8;
  color: #000000;
}
.success-story p strong {
  font-weight: bold;
  font-style: italic;
  color: #d0313f;
}
.story {
  display: flex;
  padding: 66px 0 0;
}
.story > div {
  padding-left: 14px;
}
.success-story .arrows {
  display: flex;
  justify-content: flex-end;
}
.success-story .arrows span {
  width: 40px;
  height: 40px;
  margin: 2px 0 0 6px;
  background: #d5d8db;
}
.success-story .arrows .left-arrow,
.success-story .arrows .right-arrow {
  margin: 14.5px;
  padding: 5px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
}
.success-details {
  display: flex;
  position: relative;
  top: 290px;
  margin: 0 140px;
}
.success-info {
  display: flex;
  flex-direction: column;
  width: 125px;
  margin: 0 30px 0 0;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}
.success-info span:first-child {
  font-weight: bold;
  font-size: 36px;
}
/***************End of Success stories styles*************/

/***************Start of Footer styles*************/
footer {
  padding: 0 50px;
  overflow: hidden;
}
.footer-section {
  background-color: #000000;
  padding: 0 85px;
}
.footer-social {
  padding-top: 50px;
  display: flex;
}
.footer-social h4 {
  width: 139px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.28;
  color: #ffffff;
}
.footer-social h4 strong {
  font-weight: 500;
}
.footer-social img {
  padding-left: 19px;
  padding-top: 40px;
}
footer hr,
.footer-hr {
  width: 945px;
  height: 1px;
  margin: 48px 0 64px;
  opacity: 0.3;
  background-color: #ffffff;
}
.footer-hr {
  margin: 34px 0 18px;
}
.footer-wrapper {
  display: flex;
  width: 100%;
}
.footer-inner-wrapper {
  width: 65%;
  display: flex;
}
.footer-inner-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-right: 44px;
}
.footer-inner-wrapper ul > ul {
  padding-top: 30px;
}
.footer-inner-wrapper ul h4,
.footer-contact-details h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.38;
  color: #ffffff;
}
.footer-inner-wrapper ul li a {
  opacity: 0.8;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  text-decoration: none;
}
.footer-vr {
  width: 1px;
  height: 210px;
  margin: 0px 25px 0 0px;
  opacity: 0.3;
  background-color: #ffffff;
}
.footer-contact-details {
  width: 35%;
}
.footer-contact-details span {
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
}
.footer-contact-details span:last-child {
  font-size: 17px;
  line-height: 2.24;
  color: #ffffff;
}
.footer-contact-details h4 {
  margin: 37px 0 11px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.38;
  color: #ffffff;
}
.input-group {
  width: 283px;
  height: 45px;
  border-radius: 4px;
  background-color: #ffffff;
}
.form-control,
.input-group-append {
  height: 45px;
}
.form-control::placeholder {
  opacity: 0.3;
  font-size: 14px;
  color: #000000;
}
.input-group-text {
  background-color: #d03a40;
  border: 1px solid #d03a40;
}
.input-group > .form-control:focus {
  z-index: 0;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
}
.footer-copyright span {
  opacity: 0.7;
  font-size: 13px;
  color: #ffffff;
}
/***************End of Footer styles*************/
