body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

/***************Start of Homepage styles*************/
/***************Header styles***************/
.nav-main {
  padding: 0 50px;
}
#navbar {
  position: relative;
}
.first-nav {
  height: 34px;
  background: #1e1e1e;
}
.first-nav-li {
  padding-left: 17px;
}
.first-nav-link {
  opacity: 0.8;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.31;
  color: #ffffff;
  padding: 0;
}
.second-nav {
  height: 68px;
  background-color: #ffffff;
  padding-top: 17px;
}
.second-nav img {
  height: 51px;
  width: 194px;
}
.second-nav ul {
  padding-left: 80px;
}
.second-nav-link,
.second-nav-search {
  font-size: 14px;
  line-height: 2.14;
  color: #1d2329;
  padding: 7px 20px 7px 0 !important;
}
.second-nav-link:last-child {
  padding-right: 20px !important;
}
.second-nav-search {
  padding-right: 28.2px !important;
}
.arrow {
  display: inline-block;
  padding: 2px;
  border: solid #d0313f;
  border-width: 0 0.3px 0.3px 0;
  margin-left: 3px;
  margin-bottom: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow1 {
  opacity: 0.5;
  border: solid #000000;
  border-width: 0 0.3px 0.3px 0;
  margin-left: 8px;
}
.second-nav-li button {
  padding: 7px 20px 7px 20px;
  border-radius: 3px;
  background-color: #d0313f;
}
.nav-apply-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
}
.second-nav-link:hover {
  color: #000000;
}
.first-nav-link:hover,
.nav-apply-btn:hover {
  color: #ffffff;
}
.dropdown-menu {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 30px 31px 30px 1px;
  box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #dddddd;
  background-color: #ffffff;
  top: 110px;
  left: 0;
  right: 0;
}
.dropdown-menu.show {
  display: flex;
}
.dropdown-menu.show:after {
  content: "";
  position: absolute;
  top: -11px;
  width: 0;
  left: 30%;
  right: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 9px 10px 9px;
  border-color: transparent transparent #dddddd transparent;
  z-index: 9998;
}
.overview-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #1d2329;
  padding-left: 45px;
  width: 30%;
}
.overview-list h4 {
  margin: 0;
  padding-bottom: 25px;
  font-size: 14px;
}
.overview-list a {
  padding: 0;
  padding-bottom: 9px;
}
.overview-list a.active {
  background-color: #f6f8f9;
  color: #d0313f;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f6f8f9;
  color: #d0313f;
}
.vr {
  width: 1px;
  height: auto;
  opacity: 0.25;
  border: solid 1px #979797;
  margin-left: 28px;
}
.overview-wrapper {
  display: flex;
  margin-left: 29px;
  width: 70%;
}
.overview-wrapper img {
  width: 232px;
  height: 315px;
}
.overview-wrapper p {
  font-size: 13px;
  line-height: 1.62;
  color: #6c7787;
  margin: 0;
  padding-bottom: 10px;
}
.overview-wrapper a {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  padding-bottom: 25px;
  text-decoration: none;
}
.overview-wrapper > div {
  margin-left: 32px;
}
.overview-tech {
  display: flex;
}
.overview-tech ul {
  padding: 0;
  list-style-type: none;
}
.overview-tech ul li a {
  text-decoration: none;
  opacity: 0.7;
  font-size: 13px;
  line-height: 2.31;
  color: #1d2329;
  padding-top: 17px;
}
.overview-tech ul:nth-child(2) li a {
  padding-left: 25px;
}
.research-img {
  height: 210px;
}
/***************End of Header styles*************/

/***************Start of Banner styles****************/
.banner-wrapper {
  padding: 80px 50px 0;
  overflow: hidden;
}
.mail-info {
  position: relative;
  padding-bottom: 70px;
}
.mail-info .mailid {
  transform: rotate(-90deg);
  opacity: 0.6;
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 1.8px;
  color: #000000;
  margin: 0;
  position: absolute;
  top: 80px;
  left: -80px;
}
.mail-info img {
  position: absolute;
  top: 210px;
}
.content {
  padding-left: 148px;
}
.content p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 1.04px;
  color: #6c7787;
  margin: 0;
  text-transform: uppercase;
}
.content p:last-child {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.42;
  color: #6c7787;
  /* padding-bottom: 70px; */
  text-transform: none;
}
.content p:last-child span {
  font-weight: 500;
  color: #000000;
}
hr {
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background-color: #d03a40;
  margin: 20px 0 30px 2px;
}
.carousel-main-wrapper {
  position: relative;
}
.carousel-main-wrapper .carousel-indicators {
  right: -90px;
  bottom: -15px;
  top: 0;
  left: initial;
  flex-direction: column;
}
.carousel-main-wrapper .carousel-indicators li {
  width: 7px;
  height: 6px;
  border-radius: 50%;
  opacity: 1;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.carousel-main-wrapper .carousel-indicators .active {
  background-color: #d03a40;
}
.carousel-inner-wrapper {
  display: flex;
  /* position: absolute; */
  height: 164px;
  padding: 30px 20px;
  background-color: #7c3520;
  /* top: 93%; */
  justify-content: space-between;
  width: 100%;
}
.header-text {
  position: absolute;
  top: 70%;
  left: 20%;
}
.header-text h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.42;
  color: #ffffff;
}
.header-text h3 {
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  padding-top: 11px;
  font-weight: 300;
}
.carousel-overview {
  display: flex;
}
.carousel-overview > div {
  padding-left: 20px;
}
.carousel-overview h5 {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 12px;
}
.carousel-overview p {
  opacity: 0.8;
  font-size: 13px;
  line-height: 1.31;
  color: #ffffff;
  margin-bottom: 9px;
}
.carousel-overview a {
  font-size: 14px;
  line-height: 1.36;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.MU-wrapper {
  padding: 80px 20px 66px;
  width: 100%;
}
.MU-inner-wrapper {
  padding-right: 45px;
  /* width: 46%; */
}
.MU-inner-wrapper h5 {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
  margin-bottom: 5px;
}
.MU-inner-wrapper h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
}
.MU-inner-wrapper h3 span {
  font-weight: 500;
}
.MU-inner-wrapper p {
  opacity: 0.9;
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
  margin: 0;
}
.facility {
  padding-top: 30px;
}
.facility > div {
  padding-left: 20px;
}
.facility > div h4 {
  font-size: 17px;
  line-height: 1.29;
  color: #1d2329;
}
.facility > div p {
  line-height: 1.36;
  font-size: 14px;
}
/* .facility-school {
  width: 324px;
}
.facility-processor {
  width: 308px;
} */
.learn-more {
  padding-top: 13px;
  display: flex;
}
.learn-more a,
.more1 {
  color: #d0313f;
}
.learn-more a {
  text-decoration: none;
}
.learn-more a:last-child {
  padding-left: 25px;
}
.learn-more img {
  padding-right: 5px;
}
.more {
  margin-left: 8px;
}
.more2 {
  border: solid #ffffff;
  border-width: 0 0.3px 0.3px 0;
}
.facility ul {
  padding: 23px 0 0;
  list-style-type: none;
}
.facility ul li a {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  text-decoration: none;
  padding-bottom: 13px;
}
.bitmap-images {
  display: flex;
  /* width: 54%;
  padding: 0 20px; */
}
.bitmap-images div:first-child {
  padding-top: 60px;
}
.bitmap-images div img {
  padding-bottom: 28px;
  padding-right: 25px;
}
.selection-wrapper {
  padding-bottom: 70px;
}
.selection-wrapper ul {
  padding: 0;
  list-style-type: none;
}
.selection-wrapper ul li {
  width: 164px;
  height: 106px;
  padding: 27px 28px 22px 27px;
  border-radius: 4px;
  background-color: #f6f8f9;
  color: #000000;
  margin-left: 31px;
}
.selection-wrapper ul li a {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.36;
  color: #000000;
  text-decoration: none;
}
.selection-wrapper ul li.active {
  background-color: #d0313f;
  color: #ffffff;
}
.selection-wrapper ul li.active a {
  color: #ffffff;
  opacity: 1;
}
.selection-wrapper ul li.active a .arrow1 {
  border: solid #ffffff;
  border-width: 0 0.3px 0.3px 0;
  opacity: 1;
}
.selection-wrapper ul li:hover {
  background-color: #d0313f;
  color: #ffffff;
  opacity: 1;
}
/***************End of Banner styles*************/

/***************Start of What's new styles*************/
.new-wrapper {
  padding: 0px 50px;
  overflow: hidden;
}
.new-wrapper > div {
  background-color: #f6f8f9;
  padding-top: 58px;
  padding-bottom: 60px;
}
.new-wrapper h4 {
  font-size: 36px;
  font-weight: 300;
  color: #1d2329;
  text-align: center;
}
.new-wrapper p {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #6c7787;
  width: 580px;
  margin: 0 auto;
}
.new-wrapper p strong {
  font-weight: 500;
}
.new-wrapper hr {
  margin: 20px auto 45px;
}
.new-wrapper-block {
  padding-bottom: 10px;
}
.block1-wrapper {
  border-radius: 4px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
  margin-bottom: 30px;
}
.block1-wrapper.active,
.block.active {
  background-color: #ffffff;
}
.block {
  padding: 27px 20px;
}
.inner-block {
  padding-left: 30px;
  width: 270px;
}
.inner-block h4 {
  width: 270px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.29;
  color: #000000;
  text-align: left;
  margin-bottom: 16px;
}
.inner-block p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.93;
  color: #6c7787;
  text-align: left;
}
.inner-block p:nth-of-type(2) {
  width: 244px;
  margin: 0;
  padding-bottom: 20px;
}
.inner-block a {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
}
.block.active .inner-block a {
  color: #d0313f;
  opacity: 1;
}
.block.active i {
  border: solid #d0313f;
  border-width: 0 0.3px 0.3px 0;
  opacity: 1;
}
.new-link {
  text-align: center;
}
.view-all {
  color: #d0313f !important;
  text-decoration: none;
}
/***************End of What's new styles*************/

/***************Start of Research based styles*************/
.research-wrapper {
  padding: 0px 50px;
  overflow: hidden;
}
.research-wrapper > div {
  background-color: #2f3437;
  padding-top: 58px;
  padding-bottom: 66px;
}
.research-wrapper h4 {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.research-wrapper p {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  width: 580px;
  margin: 0 auto;
}
.research-wrapper h4 strong {
  font-weight: 500;
}
.research-wrapper hr {
  margin: 20px auto 45px;
  background-color: #ffffff;
}
.research-wrapper .carousel-control-next,
.research-wrapper .carousel-control-prev {
  background: #d0313f;
  width: 64px;
  height: 64px;
  margin: 0 32px;
  top: 50%;
}
.research-wrapper .carousel-item > div {
  width: 431px;
  height: 450px;
  margin: 0px 113px 64px;
  padding: 0 0 0 64px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f7f8fa;
  position: absolute;
}
.research-wrapper .carousel-item > div h4 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.4px;
  color: #1d2329;
  text-align: left;
  padding-top: 73px;
}
.research-wrapper .carousel-item > div p {
  width: 306px;
  height: 231px;
  margin: 13px 61px 31px 0;
  font-size: 15px;
  line-height: 1.4;
  color: #454b52;
  text-align: left;
}
.research-wrapper .carousel-item > div a {
  width: 306px;
  height: 231px;
  margin: 13px 61px 31px 0;
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  padding-bottom: 73px;
  text-decoration: none;
}
.research-wrapper .carousel-item img {
  width: 755px !important;
  height: 450px;
  float: right;
  margin-right: 121px;
}
.research-wrapper .carousel-indicators {
  bottom: -66px;
}
/***************End of Research based styles*************/

/***************Start of Success stories styles*************/
.success-wrapper {
  padding: 0px 50px;
  overflow: hidden;
  position: relative;
}
.success-wrapper > div {
  background-image: url("/images/rise.png");
  background-repeat: no-repeat;
  padding: 85px 0;
  background-size: cover;
}
.success-inner h4 {
  width: 329px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #ffffff;
  padding-bottom: 18px;
}
.success-inner h4 strong {
  font-weight: 500;
}
.success-inner p {
  width: 498px;
  font-size: 15px;
  line-height: 1.4;
  color: #ffffff;
}
.success-inner hr {
  background-color: #ffffff;
}
.success-inner img {
  width: 445px;
  height: 400px;
}
.success-story {
  background-color: #ffffff;
  position: absolute;
  width: 590px;
  top: 330px;
  left: 210px;
  padding: 30px 0 0 66px;
}
.success-story p {
  font-size: 20px;
  line-height: 1.8;
  color: #000000;
}
.success-story p strong {
  font-weight: bold;
  font-style: italic;
  color: #d0313f;
}
.success-story img {
  width: 60px;
  height: 60px;
}
.story {
  padding: 66px 0 0;
}
.story > div {
  padding-left: 14px;
}
.success-story .arrows span {
  width: 40px;
  height: 40px;
  margin: 2px 0 0 6px;
  background: #d5d8db;
}
.success-story .arrows .left-arrow,
.success-story .arrows .right-arrow {
  margin: 14.5px;
  padding: 5px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
}
.success-details {
  position: relative;
  top: 250px;
}
.success-info {
  width: 125px;
  margin: 0 30px 0 0;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}
.success-info span:first-child {
  font-weight: bold;
  font-size: 36px;
}
.success-placements {
  margin-top: 410px;
}
.success-placements h4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.39;
  color: #ffffff;
  text-align: center;
}
.success-placements h4 strong {
  font-weight: 500;
}
.success-placements p {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  margin: 13px 180px 0;
}
.success-placements hr {
  margin: 20px auto 45px;
  background-color: #ffffff;
}
.placement-list ul {
  list-style-type: none;
  padding: 0;
}
.placement-list ul:first-child {
  margin-bottom: 55px;
}
.placement-list ul li {
  padding-left: 30px;
}
.placement-list ul li:first-child {
  padding: 0;
}
/***************End of Success stories styles*************/

/***************Start of Footer styles*************/
footer {
  padding: 0 50px;
  overflow: hidden;
}
.footer-section {
  /* background-color: #000000; */
  background-image: url("/images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 55px;
}
.footer-social {
  padding-top: 109px;
}
.footer-social h4 {
  width: 139px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.28;
  color: #ffffff;
}
.footer-social h4 strong {
  font-weight: 500;
}
.footer-social img {
  padding-left: 19px;
  padding-top: 40px;
}
footer hr,
.footer-hr {
  /* width: 945px; */
  width: auto;
  height: 1px;
  margin: 48px 0 64px;
  opacity: 0.3;
  background-color: #ffffff;
}
.footer-hr {
  margin: 34px 0 18px;
}
.footer-wrapper {
  width: 100%;
}
.footer-inner-wrapper {
  width: 65%;
}
.footer-inner-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-right: 44px;
}
.footer-inner-wrapper ul > ul {
  padding-top: 30px;
}
.footer-inner-wrapper ul h4,
.footer-contact-details h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.38;
  color: #ffffff;
}
.footer-inner-wrapper ul li a {
  opacity: 0.8;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  text-decoration: none;
}
.footer-vr {
  width: 1px;
  height: 210px;
  margin: 0px 25px 0 0px;
  opacity: 0.3;
  background-color: #ffffff;
}
.footer-contact-details {
  width: 35%;
}
.footer-contact-details span {
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
}
.footer-contact-details span:last-child {
  font-size: 17px;
  line-height: 2.24;
  color: #ffffff;
}
.footer-contact-details h4 {
  margin: 37px 0 11px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.38;
  color: #ffffff;
}
.input-group {
  width: 283px;
  height: 45px;
  border-radius: 4px;
  background-color: #ffffff;
}
.form-control,
.input-group-append {
  height: 45px;
}
.form-control::placeholder {
  opacity: 0.3;
  font-size: 14px;
  color: #000000;
}
.input-group-text {
  background-color: #d03a40;
  border: 1px solid #d03a40;
}
.input-group > .form-control:focus {
  z-index: 0;
}
.footer-copyright {
  padding-bottom: 28px;
}
.footer-copyright span {
  opacity: 0.7;
  font-size: 13px;
  color: #ffffff;
}
/***************End of Footer styles*************/
/***************End of Homepage styles*************/

/************* Start of breadcrumbs styles ****************/
.breadcrumbs-wrapper {
  padding: 28px 50px 0;
}
.breadcrumb {
  /* padding: 0.75rem 1rem;
  margin-bottom: 1rem; */
  list-style: none;
  background-color: #f8f8f8;
  border-radius: 0.25rem;
  padding-left: 0px;
}
.breadcrumb-item,
.breadcrumb-item a {
  font-size: 12px;
  line-height: 1.67;
  color: #1d2329;
  font-weight: 500;
}
.breadcrumb-item:last-child {
  font-weight: 400;
}
/************* End of breadcrumbs styles ***************/

/***************Start of About Us styles*************/
/************* Start of About MU styles ***************/
.aboutus-wrapper {
  padding: 0px 50px 0px;
  overflow: hidden;
}
.title {
  font-size: 36px;
  line-height: 51px;
  color: #6c7787;
}
.subtitle {
  font-size: 36px;
  line-height: 51px;
  color: #000000;
}
/* .h-l{
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background-color: #d03a40;
  margin: 20px 0 30px 2px;
} */
.subtitle_txt {
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
  width: 851px;
}
.aboutus-img {
  width: 1445px;
  margin-top: 70px;
}
/************** End of About MU styles ***************/

/************** Start of Tabs section styles **********/
ul.nav.nav-pills {
  border-bottom: 1px solid #dcd6d6;
  margin: 70px 0;
}
.nav-pills .nav-link {
  font-size: 14px;
  line-height: 2.14;
  color: #1d2329;
  opacity: 0.5;
  border-radius: 0px;
  padding: 0px 103px 17px 103px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-size: 14px;
  line-height: 2.14;
  color: #1d2329;
  opacity: 1;
  background: transparent;
  border-bottom: 4px solid #d03a40;
}
.ordinance_title {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
}
.ordinance_subtitle {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
}
.ordinance_subtitle_text {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
  width: 357px;
}
.about-title {
  font-size: 15px;
  line-height: 1.73;
  color: #6c7787;
  width: 590px;
}
.about-title span {
  font-weight: 500;
}
.ordinance_description {
  padding-left: 140px;
}
.ordinance_doc span {
  font-size: 15px;
  line-height: 1.73;
  color: #25529b;
  cursor: pointer;
}
/************** End of Tabs section styles **********/

/************** Start of chancellor section styles **********/
.chancellor-wrapper {
  padding: 0px 50px 0px;
  overflow: hidden;
}
.chancellor-img {
  width: 1445px;
  margin-top: 70px;
  margin-bottom: 120px;
}
/************** End of chancellor section styles **********/

/************** Start of purpose,vision,mission styles **************/
.purpose-wrapper {
  width: 100%;
  height: 1111px;
  background-color: #f6f8f9;
  padding-top: 50px;
  padding-bottom: 50px;
}
.purpose-first {
  margin-bottom: 50px;
  margin-right: 40px;
  height: 482px;
}
.purpose-leftimg {
  display: inline;
  float: left;
  width: 56%;
}
.purpose-righttxt {
  padding: 70px 90px;
}
.purpose-righttxt h1,
.purpose-leftttxt h1 {
  font-size: 24px;
  line-height: 1.67;
  color: #000000;
}
.purpose-righttxt h2,
.purpose-leftttxt h2 {
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
}
.purpose-leftttxt h2 ul li {
  padding-bottom: 10px;
}
.purpose-leftimg img {
  width: 629px;
}
.purpose-righimg img {
  width: 619px;
  float: right;
}
.purpose-leftttxt {
  display: inline;
  float: left;
  width: 51%;
  padding: 57px;
}
.purpose-rightimg {
  width: 400px;
  float: left;
}
/************** End of purpose,vision,mission styles **********/

/***************Start of Impact wrapper styles*************/
.impact-wrapper {
  width: 100%;
  background-color: #f6f8f9;
  padding-top: 20px;
}
.mu-impact {
  margin: 13px 187px 0 0;
  padding: 70px 92px 70px 49px;
  border-radius: 4px;
  box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.mu-impact h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.31;
  color: #1d2329;
}
.mu-impact h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
  margin-bottom: 50px;
}
.impact-count {
  margin-right: 89px;
}
.impact-count h1 {
  font-size: 36px;
  font-weight: bold;
  color: #d0313f;
}
.impact-count span {
  font-size: 15px;
  color: #34383c;
}
.mu-stamplog {
  margin-top: 12px;
}
/***************End of Impact wrapper styles*************/
/***************End of About us styles*************/

/***************Start of Academics screens styles*************/
/***************Start of faculty profile styles*************/
/***************Start of profile details styles*************/
.faculty-profile-wrapper {
  padding: 0 50px;
  overflow: hidden;
}
.profile-details-block {
  padding-left: 29px;
}
.profile-details-block h4,
.profile-details-block strong {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
}
.profile-details-block strong {
  font-weight: 500;
}
.profile-details-block span {
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
}
.profile-details-block .profile-contact {
  padding-top: 27px;
  /* padding-left: 20px; */
}
.profile-contact img {
  padding-right: 20px;
}
/***************End of profile details styles*************/

/***************Start of tab description styles*************/
.tabs-wrapper {
  padding: 0 50px;
  overflow: hidden;
}
.tab-content > .tab1 {
  margin: 0;
  padding: 0;
}
.faculty_description {
  padding-left: 10px;
}
.faculty_description p {
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
}
.faculty-edu,
.faculty-exp,
.faculty-publications,
.faculty-research {
  padding-top: 30px;
}
.faculty-edu h4,
.faculty-exp h4,
.faculty-publications h4,
.faculty-research h4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
}
.faculty-edu ul,
.faculty-exp ul,
.faculty-exp span,
.faculty-publications ul,
.faculty-research ul {
  padding-left: 20px;
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
}
.faculty-exp span {
  padding-left: 0;
}
.faculty-edu ul:last-child,
ul.institute,
.syllabus .course:last-child {
  list-style-type: none;
  padding: 0;
}
.faculty-edu ul li,
.faculty-publications ul li,
.faculty-research ul li {
  padding-left: 15px;
}
.faculty-edu ul:last-child li {
  padding-left: 0;
}
.syllabus .course {
  margin-left: 50px;
}
.faculty-publications span {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  color: #6c7787;
}
.faculty-publications ul {
  padding-top: 25px;
}
.faculty-publications ul li {
  padding-bottom: 25px;
}
/***************End of tab description styles*************/
/***************End of faculty profile styles*************/

/***************Start of Btech AI screen styles*************/
.AI-wrapper {
  padding: 0 50px;
  overflow: hidden;
}
.AI-wrapper > div {
  padding-bottom: 60px;
}
.AI-wrapper .title {
  width: 212px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
}
.AI-wrapper .title strong {
  font-weight: 500;
}
.AI-wrapper img {
  border-radius: 10px;
}
.AI-overview-wrapper {
  padding-top: 60px;
}
.AI-overview-first-wrap h6 {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
}
.AI-overview-second-wrap h5 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.29;
  color: #1d2329;
  padding-bottom: 30px;
}
.AI-overview-second-wrap p {
  font-size: 15px;
  line-height: 1.73;
  color: #6c7787;
  padding-bottom: 20px;
  width: 590px;
}
/***************End of Btech AI screen styles*************/

/***************Start of Btech program about section styles*************/
.program-text .title {
  width: 415px;
}
.program-text .subtitle_txt {
  width: 1010px;
}
.program-block1 .title {
  width: 357px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
}
.program-block1 .title strong {
  font-weight: 500;
}
.program-block1 {
  margin-left: 13px;
}
.program-block2 {
  margin-right: 35px;
}
.program-block2 ul {
  padding-left: 20px;
  font-size: 17px;
  line-height: 1.29;
  color: #6c7787;
}
.program-block2 ul li {
  padding-bottom: 20px;
}
.program-card-block .card {
  width: 360px;
  height: 413px;
  margin-right: 30px;
  padding: 35px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
  background-color: #ffffff;
}
.program-card-block .card-img-top {
  width: 92px;
  height: 86px;
}
.card-body {
  padding: 1.25rem 10px;
}
.card-body .card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #000000;
}
.card-text {
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
}
.program-card-block a {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  float: right;
  text-decoration: none;
  padding-top: 30px;
}
/***************End of Btech program about section styles*************/

/***************Start of Btech program structure section styles*************/
.program-structure-wrapper {
  padding: 0 50px;
  overflow: hidden;
}
.program-structure-wrapper > div {
  background-color: #f6f8f9;
  padding: 67px 0;
}
.program-structure-wrapper h4 {
  font-size: 36px;
  font-weight: 300;
  color: #1d2329;
  text-align: center;
}
.program-structure-wrapper h4 strong {
  font-weight: 500;
}
.program-structure-wrapper p {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #6c7787;
  padding-top: 10px;
}
.program-structure-wrapper hr {
  margin: 20px auto 45px;
}
.structure-block {
  padding: 0 60px;
}
.structure-block p {
  font-size: 15px;
  line-height: 1.73;
  color: #6c7787;
  text-align: left;
  font-weight: 300;
}
.structure-block b {
  font-weight: 500;
}
.structure-block ul {
  font-size: 15px;
  line-height: 2.67;
  color: #6c7787;
  list-style-type: none;
}
.structure-block ul .tick-mark {
  background: url(/images/tick.svg) no-repeat left center;
  padding-left: 26px;
}
/***************End of Btech program structure section styles*************/

/***************Start of No. of credits section styles*************/
.credits-section {
  padding: 0 50px;
  overflow: hidden;
}
.credits-section > div {
  padding: 67px 0;
}
.credits-section h4 {
  font-size: 36px;
  font-weight: 300;
  color: #1d2329;
  text-align: center;
}
.credits-section strong {
  font-weight: 500;
}
.credits-section hr {
  margin: 20px auto 45px;
}
.table caption {
  font-size: 15px;
  line-height: 1.73;
  color: #6c7787;
}
.table thead tr,
.table tbody tr {
  border-radius: 5px;
  border: solid 2.4px #f5f5f5;
}
.table thead tr th {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.73;
  color: #6c7787;
  padding: 21px 32px;
}
.table tbody tr th {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #000000;
  padding: 15px 32px;
}
.table tbody tr td {
  font-size: 15px;
  line-height: 1.73;
  color: #6c7787;
  padding: 15px 32px;
}
/***************End of No. of credits section styles*************/

/***************Start of branch change section styles*************/
.branch-section {
  padding: 0 50px;
  overflow: hidden;
}
.branch-section > div {
  padding: 67px 0;
  background-color: #f6f8f9;
}
.branch-block {
  padding: 0 40px;
}
.branch-block h6 {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
}
.branch-block h4 {
  font-size: 36px;
  font-weight: 300;
  color: #1d2329;
}
.branch-block strong {
  font-weight: 500;
}
.branch-block p {
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
  padding-bottom: 20px;
}
/***************End of branch change section styles*************/

/***************Start of testimonial section styles*************/
.testimonial-section {
  padding: 0 50px;
  overflow: hidden;
}
.testimonial-section > div {
  padding: 67px 115px;
  background-color: #2f3437;
}
.testimonial-block {
  padding: 74px 110px;
  border-radius: 4px;
  background-color: #f7f8fa;
}
.testimonial-block1 h5 {
  padding-top: 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  width: 201px;
}
.testimonial-block2 {
  padding-left: 38px;
}
.testimonial-block2 h5 {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.41;
  letter-spacing: -0.4px;
  color: #1d2329;
}
.testimonial-block2 strong {
  font-weight: 500;
}
.testimonial-block2 p {
  font-size: 15px;
  line-height: 1.4;
  color: #454b52;
  padding-top: 14px;
}
/***************End of testimonial section styles*************/

/***************Start of fee section styles*************/
.fee-wrapper > div {
  background-color: #ffffff;
  margin: 0 50px;
}
.fee-structure-block {
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
  background-color: #ffffff;
}
.fee-structure-block h5 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.fee-structure-block ul {
  list-style-type: none;
  padding-top: 11px;
  padding-left: 0;
}
.fee-structure-block ul li,
.fee-structure-block p {
  font-size: 15px;
  line-height: 1.47;
  color: #6c7787;
}
.fee-structure-block ul li:nth-child(even) {
  font-weight: 500;
}
.fee-structure-block p {
  padding-left: 8px;
  text-align: left;
}
.fee-application {
  padding-top: 30px;
}
.fee-application span {
  font-size: 15px;
  line-height: 1.47;
  color: #707c8e;
}
.fee-application a {
  font-weight: 500;
  color: #d0313f;
  text-decoration: none;
}
.fee-application > div {
  padding-top: 20px;
}
.fee-application h5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  color: #6c7787;
}
.fee-application ul {
  list-style-type: none;
  padding: 20px 0;
}
.fee-application li span {
  flex: 1;
}
.fee-application ul li span:first-child {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  color: #000000;
}
.fee-application ul li span:last-child {
  font-size: 15px;
  line-height: 1;
  color: #6c7787;
  /* padding-left: 40px; */
}
.fee-application ul li span img {
  padding-right: 20px;
}
/***************End of fee section styles*************/
/***************End of Academics screens styles*************/

/***************Start of Blogs screens styles*************/
/***************Start of About blog section styles*************/
.blog-wrapper {
  padding: 0 50px;
  overflow: hidden;
}
.blog-wrapper .blogss {
  padding-bottom: 60px;
}
.blog-wrapper .title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
  width: 415px;
}
.blog-wrapper .subtitle_txt {
  width: 1010px;
}
.blog-wrapper img {
  border-radius: 10px;
}
.blogs-cards {
  padding-top: 60px;
}
.blogs-cards .card {
  width: 360px;
  height: 480px;
  padding: 19px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
}
.blogs-cards .card-img-top {
  width: 320px;
  height: 187px;
}
.blogs-cards .card-body span {
  opacity: 0.5;
  font-size: 14px;
  line-height: 2.14;
  color: #1d2329;
}
.blogs-cards .card-body span img {
  padding-right: 17px;
}
.blogs-cards a {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
  float: right;
  text-decoration: none;
  padding-top: 30px;
}
.pagination-wrapper {
  padding: 50px 0;
}
.page-item {
  margin-right: 10px;
  border-radius: 4px;
}
.page-item.active .page-link {
  background-color: #d0313f;
  color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.page-link {
  padding: 16px 21px;
  color: #333333;
}
/***************End of About blog section styles*************/

/***************Start of blog detail section styles*************/
.blog-detail-wrapper {
  padding: 60px 0;
}
.blog-detail-first-wrap h6 {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.4;
  color: #6c7787;
}
.blog-detail-first-wrap .title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.31;
  color: #1d2329;
  width: 335px;
}
.blog-detail-first-wrap h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #000000;
}
.blog-detail-first-wrap .title strong {
  font-weight: 500;
}
.blog-detail-second-wrap p {
  font-size: 15px;
  line-height: 1.73;
  color: #6c7787;
  padding-bottom: 20px;
}
.blog-read {
  text-align: right;
}
.blog-read a {
  font-size: 14px;
  line-height: 1.36;
  color: #d0313f;
}
/***************End of blog detail section styles*************/
/***************End of Blogs screens styles*************/

/***************Start of Alumni screens  styles*************/
.alumni_community_wrapper{
  margin-top: 40px;
}
.alumni-wrapper {
  padding: 0px 50px 50px;
  overflow: hidden;
}
.upcoming_events_wrapper{
  padding: 40px 50px 90px;
  margin: 70px 0px 70px 0px;
  overflow: hidden;
  background-color: #f6f8f9;

}
.upcome-event-tile span:first-child{
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #6c7787;
}
.upcome-event-tile span:last-child{
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  font-weight: 500;
  color: #000000;
}
.alumni-img {
  width: 1445px;
  overflow: hidden;
  margin: 30px 0px 30px;
}


.alumni_card_tilte img{
  width: 365px;
  height: 415px;
}
.alumni_card_tilte h1{
  margin: 20px 0px 22px 9px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000000;
}
.alumni_events_tilte{
  margin-right: 67px;
  margin-bottom: 20px;
  padding: 11px;
  background-color: white;
  border-radius: 10px;
}
.alumni_card_tilte p{
  width: 285px;
  margin: 22px 105px 0 9px;
  font-family: Gotham;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  color: #6c7787;

}
.alumni_events_tilte h3{
float: right;
font-size: 16px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.25;
letter-spacing: normal;
color: #d0313f;
border: 2px solid #d0313f;
border-radius: 5px;
padding: 5px 10px;
}
.alumni-community img{
  width: 352px;
  padding-left: 30px;

 
}
.alumni-community p{
  width: 445px;
  padding-top: 110px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  color: #6c7787;
}
.alumni-community h1{
  margin-top: 36px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #6c7787;
}

.alumni_events_tilte img :first-child{
  width: 320px;
  height: 187px;
  margin: 0 0 13px;
  

}
.alumni_events_tilte{
  position: relative;

}
.alumni_events_tilte span{
  position: absolute;
  top: 28px;
  left: 28px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  width: 116px;
  height: 31px;
  padding: 7px 35px 8px 34px;
  border-radius: 3px;
  background-color: #1d2329;
}
.alumni_events_tilte h1{
  margin: 13px 90px 7px 0px;
  opacity: 0.5;
  font-family: Gotham;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #1d2329;
}
.alumni_events_tilte h2{
  width: 298px;
  height: 56px;
  margin: 7px 19px 12px 3px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000000;
}
.alumni_events_tilte p{
  width: 317px;
  height: 66px;
  margin: 12px 0 35px 3px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #6c7787;
}
.cal-img{
margin: 0px 10px 0px 4px;
}

/***************End of Alumni screens styles*************/


/***************Start  of Alumni Council screens styles*************/
.alumni_council_wrapper{
  margin-top: 15px;
}
.alumni-council p {
  width: 445px;
  padding-top: 30px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  color: #6c7787;
}

.upcoming_council_events_wrapper{
padding-top: 40px;
padding-bottom: 40px;
  overflow: hidden;
  background-color: #f6f8f9;

}

.alumni-council-img {
  width: 1456px;
  margin-top: 40px;

}

.coming-event img {
  width: 616px;
  margin-right: 30px;
}
.alumni_council_events_tilte img{
 width: 312px;
 
}
.alumni_council_events_first_img{
  margin-right: 30px;
}
.alumni_council_events_tilte.first h1{

  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: #000000;
  margin: 20px 0px 9px 9px;
  width: 322px;
}

.alumni_council_events_tilte.first h2{
  margin: 20px 0px 9px 9px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #6c7787;
  width: 285px;
} 
.alumni_council_events_tilte h1{

  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: #000000;
  margin: 20px 0px 9px 9px;
}

.alumni_council_events_tilte h2{
  margin: 20px 0px 9px 9px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #6c7787;
  width: 285px;
} 

/***************End of Alumni Council screens styles*************/


/**  Start of Campus Student Activity Screen    **/

.campus_student_activity_wrapper{
  padding: 0px 50px 50px;
  overflow: hidden;

}
.subtitle_txt span{
  font-weight: 500px;
  color: #000;
}
.student-activity-img{
  width: 1445px;
  overflow: hidden;
  margin: 30px 0px 30px;
  box-shadow: 30px 10px 80px 0 rgba(0, 0, 0, 0.1);
}
.campus_student_activity{
  width: 358px;
  height: 480px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
  background-color: #ffffff; 
  margin-bottom: 20px;
  margin-right: 45px;
  padding: 19px; 
  border-radius: 10px;
}

.campus_student_activity h2{
  width: 298px;
  height: 56px;
  margin: 7px 19px 12px 3px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000000;
}
.campus_student_activity h3{
  float: right;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #d0313f;
}
.campus_student_activity p{
  width: 317px;
  height: 66px;
  margin: 12px 0 35px 3px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #6c7787;
}
.campus_student_activity img :first-child{
  width: 320px;
}
.campus_student_activity .learnmore{
 padding: 0px 15px;

}

/**  END of Campus Student Activity Screen **/


/**  Start of Campus Student Activity Screen    **/

.campus_student_club_wrapper{
  padding: 0px 50px 50px;
  overflow: hidden;

}
.subtitle_txt span{
  font-weight: 500px;
  color: #000;
}
.student-activity-img{
  width: 1445px;
  overflow: hidden;
  margin: 30px 0px 30px;
  box-shadow: 30px 10px 80px 0 rgba(0, 0, 0, 0.1);
}
.campus_student_club{
  width: 358px;
  min-height: 262px;
  margin-bottom: 20px;
  margin-right: 45px;
  padding: 36px 19px 38px 22px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(189, 195, 200, 0.16);
  border: solid 2.4px #f5f5f5;
  background-color: #ffffff;
}
.campus_student_club h1{
  width: 298px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000000;
}

.campus_student_club h2{
  width: 298px;
  margin: 7px 19px 12px 3px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #6c7787;
}
.campus_student_club h3{
  float: right;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #d0313f;
}
.campus_student_club p{
  width: 317px;
  height: 66px;
  margin: 12px 0 35px 3px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #6c7787;
}
.campus_student_club img :first-child{
  width: 320px;
}
.campus_student_club .learnmore{
 padding: 0px 15px;
 

}

/**  END of Campus Student Activity Screen **/
